body {background-image: url("forbackground.jpg");}
#banner {width: 800px}
#nav-table { width: 800px; text-align: center;}
#nv-td { width: 100px; text-align:center;}
#head {width : 100px; float: right; margin-right: 30px;}
#debate {width : 100px; float: left; margin-right: 6px;}
#mypicture {width : 100px; float: right; margin-left: 6px;}
#travelling {width :100px; float: right ; margin-right: 30px;}
#travel {width: 100px; float: left; margin-right: 6px;}
#wrap {margin: 0 auto; width: 800px}
