body {background-image: url("forbackground.jpg");}
#nav-table { width: 70%;}
#nv-td { width: 80%; text-allign:center;}
#head {width : 100px; float: right;}
#debate {width : 100px; float: left}
#mypicture {width : 100px; float: right}
#travelling {width :100px; float: right}
#travel {width: 100px; float: left}
#wrap {margin: 0 auto; width: 70%}
