body {background-image: url("forbackground.jpg");}
#banner {width : 800px }
#nav-table { width: 800px; text-align:center;}
#nav-td { width:160px; text-align: center;}
#text {width: 100%;}
#wrap {margin: 0 auto; width: 800px}
