body {background-color: #06B797;}
#banner {width : 800px }
#nav-table { width: 800px; text-align:center;}
#nav-td { width:200px; text-align: center;}
#text {width: 100%;}
#wrap {margin: 0 auto; width: 70%}
